<div style="margin-bottom:5px;">
  <div>
    <div fxFlex fxLayout="row" fxLayoutGap="10px">
      <button mat-mini-fab (click)="goBack()">
        <mat-icon aria-label="Save Log">arrow_back</mat-icon>
      </button>
      <button mat-mini-fab (click)="saveLog()">
        <mat-icon aria-label="Save Log">save</mat-icon>
      </button>
    </div>
  </div>
</div>
<form [formGroup]="form">
  <div fxLayout="column" fxLayoutGap="20px" fxFlex>
    <mat-card fxLayout="column">
      <span class="question" fxFlex>Log Title</span>
      <mat-form-field>
        <input
          #title
          matInput
          placeholder="Enter a title for your log here"
          formControlName="Title"
        />
      </mat-form-field>
    </mat-card>
    <mat-card>
      <div
        fxLayout="column"
        *ngFor="let question of (question$ | async); let i = index"
      >
        <span class="question" fxFlex>{{
          i + 1 + ') ' + question.Question
        }}</span>
        <mat-form-field>
          <input
            matInput
            placeholder="{{question.Description}}"
            formControlName="{{question.id}}"
          />
        </mat-form-field>
        <br />
      </div>
    </mat-card>
  </div>
</form>
<div [style.visibility]="scrollstate" class="BottomFloatingButton">
  <button mat-mini-fab (click)="saveLog()">
    <mat-icon aria-label="Save Log">save</mat-icon></button
  >&nbsp;
  <button mat-mini-fab (click)="goBack()">
    <mat-icon aria-label="Save Log">arrow_back</mat-icon>
  </button>
</div>
