<div fxLayout="row">
  <div fxFlex.gt-md="20" fxHide.lt-lg="true"></div>
  <div fxFlex>
    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="true">
      <div fxLayoutAlign="start center" fxLayoutGap="10px">
        <img
          src="assets/logo.png"
          [routerLink]="'login'"
          style="height:60px; width:auto;"
        />
        <button mat-raised-button routerLink="home" routerLinkActive="primary">
          Home
        </button>
        <button
          mat-raised-button
          routerLink="loglist"
          routerLinkActive="primary"
        >
          Logs
        </button>
      </div>
      <div
        style="text-align:right;"
        fxFlex
        fxLayoutAlign="end center"
        fxHide.xs
      >
        <span
          *ngIf="(this.userService.isLoggedIn | async)"
          fxLayout="row"
          fxLayoutAlign="end center"
          fxLayoutGap="10px"
        >
          <button mat-raised-button color="" (click)="logout()">Log Out</button>
          <img src="{{ this.photoURL }}" />
        </span>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
  <div fxFlex.gt-md="20" fxHide.lt-lg></div>
</div>
