<div fxLayout="row">
    <div fxFlex.gt-md="20" fxHide.lt-lg="true"></div>
    <div fxFlex>
        <div fxLayout="row" fxLayoutAlign="center center" *ngIf="true">
            <div fxLayoutAlign="start center" fxLayoutGap="10px">
                <img src="assets/logo.png" style="height:60px; width:auto;" />
                <button mat-raised-button color="primary" routerLink="home">Home</button>
                <button mat-raised-button color="" routerLink="loglist">Logs</button>
            </div>
            <div style="text-align:right;" fxFlex fxLayoutAlign="end center" fxHide.xs>
                Identity
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
    <div fxFlex.gt-md="20" fxHide.lt-lg></div>
</div>